body {
  /*TODO Womp*/
  background-color: antiquewhite;
}

#singlebutton{
    position:relative;
    margin-top:30%;
    padding:5% 8%;
    border-radius:50%;
    box-shadow: 0 0  100px #888888;
    border:5px solid black;
}

.glyphicon{
    font-size:7em;
}
#undo{
    margin-top:30px;   
}
#pop-up{
    position:fixed;
    margin-top:80%;
/*    display:block;*/
}

.title {
    text-align: center;
}

#btn-female {
    background-color: #FF69B4;
    border-color: #FF69B4;
}

#btn-female:hover {
    background-color: #E55EA2;
    border-color: #E55EA2;
}

#btn-female:active {
    background-color: #E55EA2;
    border-color: #E55EA2;
}

.btn-heading {
    font-style: italic;
}

#response {
    margin-left: 1em;
    font-weight: bold;
}

#forward {
    margin-top: 1em;
}
