#mainMenu {
    position: fixed;
    right:0;
    width:0;
}

#menuInternal {
    position: relative;
    float: right;
}

#menuList {
    border-radius: 5px;
    border-style: hidden !important;
    background-color:black;
}

.list-group-item {
    padding: 10px 0px;

}

.name {
		color: black;
}

.name:hover {
		color: white;
}